<link rel="stylesheet" href="rules.css">

<h1 class="center">RULES AND REGULATIONS</h1>
<h3><u> Payment Process </u></h3>   


<p id="x">  
       Passengers are requested to reserve their seats by depositing 
      3000/- rupees ( preferable 120 days before ) as in advance and 
       the rest amount is to be paid 30 days before the commencement 
      journey. if you book the tour within 15 days of tour departure , <br/>
      the entire tour price has to be full paid at the time of booking .<br/>
 </p>  


<h3><u>Charges For Child</u></h3>   

<p id="y">  
        Between 5 years to 9 years discount 20% on the tour price with bed/accommodation .
       Between 3 years to 5 years discount 70% on the tour price with-out bed and rail berth <br/>
       ( sharing parents bed ).
        Below 3 years Rs. 1000/- as per tour cost .<br/>
</p>        
        
        
        

<h3><u>Cancellation Rules</u></h3> 
<p id="z">
        Minimum cancellation charges Rs. 1000/- after insuring the booking . 
        If cancellation before 90 days of the commencement journey Rs. 1500/-
        and before 60 days Rs. 2000/- will be charged .<br/>
</p>
<br/>
<br/>
<div1> 
        Payment can be made through account pay/cheque/cash/online banking .
 </div1>
 <br/>
 <br/>
 <br/>

<div class="container">
        <div class="row">
                <div class="col-md-6 col-sm-8 mx-auto">
                     <div class="card">
                         <div class="card-body" style="background-color: pink">
                              <div class="mt-2 text-center">
                                    <p class="text-info" style="color: black; align-self: auto; font-weight: bold;"> If the booking will be cancelled within 30 days of the<br/>
                                        commencement journey so cancellation charges levied as <br/>
                                       per following table :<br/>
                                       
                                       <ul type=disc>
                                       <li> Between 30 days to 25 days–> 40% of the total Tour price.
                                       <li> Between 24 days to 20 days–> 50% of the total Tour price.
                                       <li> Between 19 days to 15 days–> 60% of the total Tour price.
                                       <li> Between 14 days to 10 days–> 70% of the total Tour price.
                                       <li> Between 09 days to 06 days–> 85% of the total Tour price.
                                       <li> Between 05 days to 04 days–> 90% of the total Tour price.
                                   </p>          
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <br/>
                                        

        <h5  id="para1">NOTE : NO REFUND WILL BE ALLOWED IF CANCELLATION IS MADE WITHIN 72 HOURS BEFORE THE JOURNEY.</h5>

<br/>
<br/>
 
 <br/>
 <br/>

<section>
<h3 class="center"> Important Rules And Regulations </h3> 
   
<p>
        <ul type=circle>
        <li>   Cancellation will be acted upon only when the Advanced Receipt/Ticket is surrendered at our office for cancellation, except in case of a <br/>
        passenger residing outside Kolkata, who may cancel his/her booking by letter or telegram or email only , which should be further <br/>
        confirmed within 5 days in person . But refund will be made after surrendering ticket/advanced receipt . Company will not be liable if <br/>
        such letter or telegram or mail is not delivered in time .<br/>
        <br/>
        <li>  Time of calculating cancellation , charges shall be considered from the time when advanced receipt/ticket/telegram received by the <br/>
        office.<br/>
        <br/>
        <li>   No claim for any refund will be entertained when the passenger’s doesn’t arrive the station before departure of the train for which <br/>
        reservation has been made. In such cases, passengers may join next of subsequent station at their own cost .<br/>
        <br/>
        <li>   No refund in the tour price will be allowed for the untraveled portion of the tour either of sickness or any other reason <br/>
        <br/>
        <li>  Management reserves the right to charge/modify/cancel the date/tour etc. without assigning any reason . if the tour is cancelled by <bfr/>
        the management, full advance amount will be refundable . But if the tour is cancelled due to political disturbances or natural <br/>
        calamities or any other undesirable and abnormal situation when the passengers have to pay compensation to the company @10% of <br/>
        the tour price .<br/>
        <br/>
        <li>  Family wise room accommodation will be provide in hotels . hotel accommodation will be 2,3,4 persons in a room basis ( except in ,,<br/>
        some places like Kedarnath, Gangotri, Hanumanchatti, Amarnath, Janakichatti .)<br/>
        <br/>
        <li>  Management will not undertake any loss/damage/theft or any other belongings of the passengers during the Tour .<br/>
        <br/>
        <li>    No guarantee about the railway tickets , like upper/lower/middle or any other seats , It is totally depends on Railway Authority . <br/>
        Railway berth will be allotted as per railway allotment .<br/>
        <br/>
        <li>   All the passengers are requested to carry maximum 22 inches luggage (15 kg.) , cost of extra luggage will be borne by the passengers .<br/>
        <br/>
        <li> <strong>  As per Govt. Rules all the passengers are requested to carry their PHOTO IDENTITTY PROF during the travel .</strong> <br/>
        <br/>
        <li>  We are not served any kind of food during the train journey .<br/>
        <br/>
        <li>   Entry fees , guide charges , video camera , extra blanket , pillow , mattress , porter charges , mineral water etc. at all the places are to <bfr/>
        be borne by the passengers .<br/>
        <br/>
        <li>    For short tour ( 1 night 2 days ) , ( 2 night 3 days ) non refundable , booking with full payment .<br/>
        <br/>
        <li>   In case of TATKAL & DYNAMIC railway ticket passengers will have to pay extra fare .<br/>
        <br/>
        <li> <strong>Govt. service tax as applicable . </strong> <br/>
</p>
</section>
      
<p  class="bg-primary text-white"><b><i>Any Problem contact with us !</i></b></p>
